.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-jc {
  justify-content: center;
}

.gap-2 {
  gap: 2em;
}

body {
  padding: 33px;
  background-color: #fafafa;
}
